{% extends 'base.html' %}

{% block content %}

  <div>
    <h1>Main page</h1>

    <div>
      <form
          action="{% url 'chat:log_out' %}"
          method="post"
      >
        {% csrf_token %}

        <button
            class="btn btn-primary"
            type="submit"
        >
          Log out
        </button>
      </form>
    </div>

    <div>
      <h2>Contacts</h2>

      {% for user in user_list %}
        <div>
          {{ user.username }} ({{ user.pk }})
        </div>

      {% endfor %}
    </div>

    <div>
      <h2>Group chats</h2>

      <div style="padding: 8px;">
        {% for room in room_list %}
        <a href="{% url 'chat:room_view' pk=room.pk %}">
          <div>
            {{ room.name }} ({{ room.pk }})
          </div>
        {% endfor %}

      </div>

      <div style="padding: 8px;">
        {# We are using form here but GET method, this works the same was as <a href> - just a link to a new URL #}
        <form
            action="{% url 'chat:room_add' %}"
            method="get"
        >
          <button type="submit">
            Create room
          </button>
        </form>
      </div>

    </div>

  </div>

  </div>

{% endblock content %}